{% extends 'base.html' %} {% block content %}


{% if ticker %}
    <h1>{{ ticker }}</h1>
{% endif %}
<!-- python is an OOP language, so get companyName field from returned API -->
{% if api %}
    {% if api == "Error..."%} 
        There was a problem with your ticker symbol, please try again 
    {% else %} 

        {{ api.companyName }}
        Price: ${{ api.latestPrice }}
        Previous Close: {{ api.previousClose }}
        {{ api.marketCap }}
        {{ api.ytdChange }}
        {{ api.week52High }}
        {{ api.week52Low }}
    {% endif %}

{% endif %}

{% endblock %}
